<?xml version="1.0"?>
<configuration>
  <!-- ASP.NET settings -->
  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <customErrors defaultRedirect="WikiError.aspx" mode="RemoteOnly" />
    <identity impersonate="true" />
    <trace enabled="false" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime executionTimeout="90" />
    <authentication mode="Windows">
    </authentication>
    <authorization>
      <deny users="?">
      </deny>
    </authorization>
  </system.web>
  <!-- SushiWiki settings -->
  <appSettings>
    <add key="storage" value="XML" />
    <add key="login" value="WINDOWS" />
    <add key="preservetime" value="30" />
    <add key="smtpserver" value="smtp.free.fr" />
    <add key="weburl" value="http://localhost/sushiwiki/" />
    <add key="robot_timer" value="0" />
    <add key="log" value="on" />
    <add key="logpagevisit" value="on" />
    <add key="visitpreservetime" value="30" />
    <add key="admins" value="" />
    <add key="title" value="SushiWiki" />
    <add key="robotmail" value="robot@groise.com" />
    <add key="readonlyguest" value="on" />
    <add key="local_is_admin" value="on" />
    <add key="databaseconnection" value="Provider=SQLOLEDB.1;Persist Security Info=True;User ID=sa;Password=;Initial Catalog=Wiki;Data Source=.;" />
    <add key="datetimeformat" value="G" />
    <add key="optimistic_lock" value="off" />
    <add key="culture" value="" />
    <add key="signature" value="" />
  </appSettings>
  <!-- Deny any access to private dir -->
  <location path="private/">
    <system.web>
      <authorization>
        <deny users="?">
        </deny>
        <deny users="*">
        </deny>
      </authorization>
    </system.web>
  </location>
</configuration>